/* default margin removal */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* box sizings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* this helps with images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* body defaults (researched) */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* box sizings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
