:root{
    --primary-color:  #ffffff;
    --secondary-color: #380601;
    --bright: #380601;
    --accent-color-1: #e78c83;
}

body {
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    flex-direction: column;
    display: flex;
}


h1 {
    font-size: 250%;
    font-weight: 400;
}

h2 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

h3 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

h4 {
    color: var(--bright);
    font-size: 150%;
    font-weight: 400;
}

h5 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--primary-color);
    position:sticky;
    justify-content: space-between;
}

header .header-title {
    color: var(--bright);
    margin-top: 20px;
    font-size: 20px;
    height: 125px;
    margin: 20px 10px 25px 30px;
    background-color: var(--accent-color-1);
    padding: 25px 100px 25px 100px;
    min-width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(205, 94, 83, .5) -5px 5px, rgba(205, 94, 83, .3) -10px 10px, rgba(205, 94, 83, .2) -15px 15px, rgba(205, 94, 83, .1) -20px 20px, rgba(205, 94, 83, .5) -25px 25px;
}

figure .header-title {
    color: var(--bright);
    margin-top: 20px;
    height: 125px;
    margin: 20px 10px 30px 30px;
    background-color: var(--accent-color-1);
    padding: 25px 100px 25px 100px;
    min-width: fit-content;
}

 figure .header-image {
    border: 5px solid var(--bright);
    border-radius: 5px;
    margin: 5px 150px 5px 5px;
    width: 30%;
}

nav {
    align-self: center;
    margin: 0px 25px 0px 0px
}

nav ul a {
    margin-right: 20px;
    color: var(--bright);
    text-decoration: none;
    border-bottom: 4px solid var(--bright);
    display: inline;
    list-style-type: none;
    font-size: 40px;
}

main {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    display: flex;
    align-self: center;
    width: 75%;
    margin-bottom: 40px;
}

.section-title {
    border-right: 5px solid var(--bright);
    padding: 0px 20px 0px 20px;
    width: 25%;
    text-align: right;
}

.about-me {
    padding: 0px 0px 0px 30px;
    width: 80%;
    color: var(--bright);
    font-size: 20px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.work-feature-head {
    display:flex;
    width: 100%;
    align-self: flex-end;
    height: 350px;
    background-color: var(--bright);
    border: 5px solid var(--accent-color-1);
    cursor: pointer;
}

.work-feature{
    display: flex;
    width: 49.5%;
    height: 150px;
    background-color: var(--bright);
    border: 5px solid var(--accent-color-1);
    margin-top: 10px;
    cursor: pointer;
}

.work-feature-title {
    color: var(--bright);
    background-color: var(--accent-color-1);
    height: 75px;
    position:relative;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

/* hovering effects for boxes */
.work-feature-head:hover,
.work-feature:hover{
    opacity: 0.50;
}

.contact-options{
    display: flex;
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.contact-options ul {
    text-decoration: none;
    align-self: center;
}

.contact-options ul a {
    color: var(--bright);
    text-decoration: none;
    margin-right: 60px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 4px solid var(--bright);
}

.contact-options ul a:visited {
    color: var(--bright);
}

/* inline */
ul#list li {
    display: inline;
}
ul#contactlist li {
    display: inline;
}

/* will change these as we progress through the course */
.project-1 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 141344.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.project-2 {
    background-image: url(../assets/images/begr7btw.bmp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.project-3 {
    background-image: url(../assets/images/258936985-b48e8058-442e-4495-b493-535099ffa424.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-1 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 141142.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-2 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 143659.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-3 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 144113.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-4 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 144206.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-5 {
    background-image: url(../assets/images/Screenshot\ 2023-11-20\ 144344.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.challenge-6 {
    background-image: url(../assets/images/5qew6t5v.bmp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* navigation for buttons on header */
@media only screen and (max-width: 768px) {
    .work {
        flex-direction: column;
    }
    .work-feature {
        width: 100%;
    }
    .section-title {
        width: 100%;
        text-align: center;
        border-bottom: 5px solid var(--bright);
        margin-bottom: 15px;
        border-right: 0px;
    }
    .contactlist a {
        line-height: 50px;
    }

    header .navigation {
        margin-bottom: 20px;
    }
    .section-wrapper {
        flex-wrap: wrap;
        width: 100%;
    }

  }
