:root{
    --primary-color: #16464e;
    --secondary-color: #cd5e53;
    --bright: #cd5e53;
    --accent-color-1: #99aab1;
}

body {
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    flex-direction: column;
    display: flex;
}


h1 {
    font-size: 250%;
    font-weight: 400;
}

h2 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

h3 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

h4 {
    color: var(--bright);
    font-size: 150%;
    font-weight: 400;
}

h5 {
    color: var(--bright);
    font-size: 250%;
    font-weight: 400;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--primary-color);
    position:sticky;
    justify-content: space-between;
}

header .header-title{
    color: var(--bright);
    margin-top: 40px;
    height: 75px;
    margin: 10px 0px 15px 0px;
    background-color: var(--accent-color-1);
    padding: 5px 25px 5px 25px;
    min-width: fit-content;
}

figure .header-title {
    color: var(--bright);
    margin-top: 20px;
    height: 65px;
    margin: 5px 0px 10px 0px;
    background-color: var(--accent-color-1);
    padding: 5px 20px 5px 20px;
    min-width: fit-content;
}

nav {
    align-self: center;
    margin: 1px 25px 0px 0px;
}

nav ul a {
    margin-right: 20px;
    color: var(--bright);
    text-decoration: none;
    border-bottom: 4px solid var(--bright);
    display: inline;
    list-style-type: none;
    font-size: 20px;
}

main {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    display: flex;
    align-self: center;
    width: 75%;
    margin-bottom: 40px;
}

.section-title {
    border-right: 5px solid var(--bright);
    padding: 0px 20px 0px 20px;
    width: 25%;
    text-align: right;
}

.about-me {
    padding: 0px 0px 0px 30px;
    width: 80%;
    color: var(--bright);
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.work-feature-head {
    display:flex;
    width: 100%;
    align-self: flex-end;
    height: 350px;
    background-color: var(--bright);
    border: 5px solid var(--accent-color-1);
    cursor: pointer;
}

.work-feature{
    display: flex;
    width: 49.5%;
    height: 150px;
    background-color: var(--bright);
    border: 5px solid var(--accent-color-1);
    margin-top: 10px;
    cursor: pointer;
}

.work-feature-title {
    color: var(--bright);
    background-color: var(--accent-color-1);
    height: 75px;
    position:relative;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

/* hovering effects */
.work-feature-head:hover,
.work-feature:hover{
    opacity: 0.50;
}

.contact-options{
    display: flex;
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.contact-options ul {
    text-decoration: none;
    align-self: center;
}

.contact-options ul a {
    color: var(--bright);
    text-decoration: none;
    margin-right: 60px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 4px solid var(--bright);
}

.contact-options ul a:visited {
    color: var(--bright);
}

/* inline */
ul#list li {
    display: inline;
}
ul#contactlist li {
    display: inline;
}

/* will change these as we progress through the course */
.example-1 {
    background-image: url(../assets/images/Ocean-Waves-Fog.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.example-2 {
    background-image: url(../assets/images/sunset-ocean.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.example-3 {
    background-image: url(../assets/images/ocean-wave-sunset.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.example-4 {
    background-image: url(../assets/images/44P5llm.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.example-5 {
    background-image: url(../assets/images/OIP.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* navigation for buttons on header */
@media only screen and (max-width: 768px) {
    .work {
        flex-direction: column;
    }
    .work-feature {
        width: 100%;
    }
    .section-title {
        width: 100%;
        text-align: center;
        border-bottom: 5px solid var(--bright);
        margin-bottom: 15px;
        border-right: 0px;
    }
    .contactlist a {
        line-height: 50px;
    }

    header .navigation {
        margin-bottom: 20px;
    }
    .section-wrapper {
        flex-wrap: wrap;
        width: 100%;
    }

  }
